# Byte-compiled / optimized / DLL files
**/__pycache__

# Environment variables
.env

# plist
reprise.plist

# logs
logs/

# Coverage reports
.coverage
.coverage.*

# macOS specific files
.DS_Store

# VS Code settings
/.vscode

# sqlite databases
*.db

# installation
*.egg-info
