[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ruff = "*"
pytest-cov = "*"
pytest-env = "*"
factory-boy = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
alembic = "*"
flask-pydantic = "*"

[requires]
python_version = "3.11"
