[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ruff = "*"
pytest-cov = "*"

[packages]
python-dotenv = "*"
peewee = "*"
langchain = "*"
langchain-openai = "*"
gitpython = "*"

[requires]
python_version = "3.11"
