name: CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: " "
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: sudo apt-get update && sudo apt-get install -y ffmpeg
    - run: python -m pip install --upgrade pip
    - run: pip install pipenv
    - run: pipenv install --dev
    - run: pipenv run pip install torch --index-url https://download.pytorch.org/whl/cpu
    - run: pipenv run ruff check
    - run: pipenv run pytest --cov=reprise --cov-fail-under=100
